<script type='text/javascript'>
//******************************Modal JS*****************************
	var previousText;

	var input;

	//mini-window event handlers
	
	$('body').on('mouseover', '.editText, .editList, .editReference', function(){
		if(typeof clickToEditTip.destroy != 'undefined') clickToEditTip.destroy();
		clickToEditTip = new jBox('Mouse', {
			attach: '.editText, .editList',
			content: 'Click to edit this value!',
			class: 'clickToEditTip',
			closeOnClick: true
		}).open();
	});
	$('body').on('mouseover', '.addNote', function(){
		if(typeof clickToAddNoteTip.destroy != 'undefined') clickToAddNoteTip.destroy();
		clickToAddNoteTip = $('.addNote').jBox('Mouse', {
			content: 'Add a new note!',
			class: 'clickToAddNoteTip'
		}).open();
	});
	$('body').on('mouseover','.refContent', function(){
		if ($(this).text() != 'Click here to add a reference.')
		{
			var index = $(this).attr('id').split('_')[1];
			var level = $(this).attr('id').split('_')[3];
			var target = '';
			
			if (typeof displayRefTargetTip.destroy != 'undefined') displayRefTargetTip.destroy();
			
			switch(level.toUpperCase())
			{
				case 'TERMENTRY':
					target = entries[e].references[index].target;
					break;
				case 'LANGSET':
					target = entries[e].languages[l].references[index].target;
					break;
				case 'TIG':
					target = entries[e].languages[l].terms[t].references[index].target;
					break;
			}
			
			displayRefTargetTip = new jBox('Mouse', {
				attach: '.refContent',
				content: "Target Id: "+target+" -- Click to Edit",
				class: 'displayRefTargetTip'
			}).open();
		}
	});
	$('body').on('mouseover','.extRefContent', function(){
		if ($(this).text() != 'Click here to add a reference.')
		{
			var index = $(this).attr('id').split('_')[1];
			var level = $(this).attr('id').split('_')[3];
			var target = '';
			
			if (typeof displayExtRefTargetTip.destroy != 'undefined') displayExtRefTargetTip.destroy();
			
			switch(level.toUpperCase())
			{
				case 'TERMENTRY':
					target = entries[e].external_references[index].target;
					break;
				case 'LANGSET':
					target = entries[e].languages[l].external_references[index].target;
					break;
				case 'TIG':
					target = entries[e].languages[l].terms[t].external_references[index].target;
					break;
			}
			
			displayExtRefTargetTip = new jBox('Mouse', {
				attach: '.extRefContent',
				content: "Target Id: "+target+" -- Click to Edit",
				class: 'displayRefTargetTip'
			}).open();
		}
	});
	$('body').on('mouseover','.imgContent', function(){
		if ($(this).text() != 'Click here to add a reference.')
		{
			var index = $(this).attr('id').split('_')[1];
			var level = $(this).attr('id').split('_')[3];
			var target = '';
			
			if (typeof displayImgTargetTip.destroy != 'undefined') displayImgTargetTip.destroy();
			
			switch(level.toUpperCase())
			{
				case 'TERMENTRY':
					target = entries[e].external_references[index].target;
					break;
			}
			
			displayImgTargetTip = new jBox('Mouse', {
				attach: '.imgContent',
				content: "Target Id: "+target+" -- Click to Edit",
				class: 'displayRefTargetTip'
			}).open();
		}
	});
	$('body').on('mouseover','.editGeo', function(){
		if ($(this).text() != 'Click here to add a reference.')
		{
			var index = $(this).attr('id').split('_')[1];
			var level = $(this).attr('id').split('_')[3];
			var target = '';
			
			if (typeof geoEditTip.destroy != 'undefined') geoEditTip.destroy();
			
			geoEditTip = new jBox('Mouse', {
				attach: '.editGeo',
				content: "Click to edit this value!",
				class: 'displayRefTargetTip'
			}).open();
		}
	});
	
	
	//TEXT BOXES
	$('body').on('click', '.editText', function(){
		
		input = $('<input class="inputTextValue" type="text" />');
		input.attr('id', $(this).attr('id'));
		var currentText;
		
		var type = input.attr('id').split('_')[0];
		switch(type)
		{
			case 'subjectValue':

				if (showTips)
				{
					//warn that Notes are kept at Entry level
					new jBox('Notice', {
						color: 'red',
						content: '<p>Subject fields apply to the entire entry. Changing the subject field will apply to all terms of an entry.</p>',
						position: {
							x: 'left',
							y: 'center'
						},
						offset: {
							x: 20
						}
					});
				}

				if ($(this).text() != "---")
				{
					currentText = $(this).text();
				}
				else
				{
					currentText = "";
				}
				break;
			case 'noteValue':

				if (showTips)
				{
					//warn that Notes are kept at Entry level
					new jBox('Notice', {
						color: 'red',
						content: '<p>Notes are currently kept at the entry level.  Any notes added will apply to all terms of an entry.</p>'+
								'<p>Leave an entry blank to delete it.</p>',
						position: {
							x: 'left',
							y: 'center'
						},
						offset: {
							x: 20
						}
					});
				}
			
				if ($(this).text() != "Click here to add a note." && $(this).text() != "---")
				{
					currentText = $(this).text();
				}
				else
				{
					currentText = "";
				}
				break;
			case 'projectValue':
				if ($(this).text() != "Click here to add a project." && $(this).text() != "---")
				{
					currentText = $(this).text();
				}
				else
				{
					currentText = "";
				}
				break;
			default:
				if (
					$(this).text() != "---" &&
					$(this).text() != "Click here to add content." &&
					$(this).text() != "Click here to add a source."
					)
				{
					currentText = $(this).text();
				}
				else
				{
					currentText = "";
				}
				break;
		}
		previousText = currentText;
		$(this).replaceWith( input );
		input.attr('value', currentText);
		input.focus();
	});
	$('body').on('focusout', '.inputTextValue', function(){
			
			var input = $('<span class="editText"></span>');
			input.attr('id', $(this).attr('id'));
			var currentText;
			($(this).val() != "") ? currentText = $(this).val() : currentText = "---";
			$(this).replaceWith( input );
			
			
			if (currentText != previousText)
			{
				setChanged(true);
			
				navObject = getNavObject()
				e = navObject.e;
				l = navObject.l;
				t = navObject.t;
			
				//update entries
				var type = input.attr('id').split('_')[0];
				
				switch (type)
				{
			//TERMS
					case 'termValue':
						entries[e].languages[l].terms[t].term = currentText;
						setLevel('edit','tig');
						break;
			//SOURCE
					case 'termSourceValue':
						entries[e].languages[l].terms[t]['source'] = currentText;
						setLevel('edit', 'tig');
						break;
			//NOTES
					case 'noteValue':
						input.attr('class', 'editText arrayFormat');
						var noteIndex;
						(typeof input.attr('id').split('_')[1] != 'undefined') ? noteIndex = input.attr('id').split('_')[1] : noteIndex = 'new';
						if (currentText == "---")
						{
							if (noteIndex != 'new') 
							{
								entries[e].notes.splice(noteIndex, 1);
							}
						}
						else
						{
							if (noteIndex == 'new')
							{
								if (typeof entries[e].notes != "undefined")
								{
									entries[e].notes.push(currentText);
								}
								else
								{
									entries[e].notes = [currentText];
								}
							}
							else
							{
								entries[e].notes[noteindex] = currentText;
							}
						}
						setLevel('edit', 'entry');
						break;
			//SUBJECTS
					case 'subjectValue':
						entries[e].subject_field = currentText;
						setLevel('edit', 'entry');
						break;
			//PROJECTS
					case 'projectValue':
						input.attr('class', 'editText arrayFormat');
						var projectIndex;
						(typeof input.attr('id').split('_')[1] != 'undefined') ? projectIndex = input.attr('id').split('_')[1] : projectIndex = 'new';
						if (currentText == "---")
						{
							if (projectIndex != 'new') 
							{
								entries[e].languages[l].terms[t].projects.splice(projectIndex, 1);
							}
						}
						else
						{
							if (projectIndex == 'new')
							{
								if (typeof entries[e].languages[l].terms[t].projects != "undefined")
								{
									entries[e].languages[l].terms[t].projects.push(currentText);
								}
								else
								{
									entries[e].languages[l].terms[t].projects = [currentText];
								}
							}
							else
							{
								entries[e].languages[l].terms[t].projects[projectIndex] = currentText;
							}
						}
						setLevel('edit', 'tig');
						break;
			//DEFINITIONS
					case 'defValue':
						input.attr('class', 'editText arrayFormat');
						var projectIndex;
						(typeof input.attr('id').split('_')[1] != 'undefined') ? projectIndex = input.attr('id').split('_')[1] : projectIndex = 'new';
						if ($(this).attr('id').split('_')[2] == 'content')
						{
							if ($(this).attr('id').split('_')[3] == 'langset')
							{
								if (currentText != '---')
								{
									var sourceVal = ($('#defValue_'+projectIndex+'_source').text() != '---' && $('#defValue_'+projectIndex+'_source').text() != 'Click here to add a source.') ? $('#defValue_'+projectIndex+'_source').text() : '';
									
									var defObj = {'content': currentText};
									if (sourceVal != '') defObj['source'] = sourceVal;
									
									if (typeof entries[e].languages[l].definitions != 'undefined')
									{
										if (projectIndex == 'new')
										{
											projectIndex = entries[e].languages[l].definitions.length;
											entries[e].languages[l].definitions.push(defObj);
											input.attr('id', 'defValue_'+projectIndex+'_content');
											$('#defValue_new_source').attr('id', 'defValue_'+projectIndex+'_source');
										}
										else
										{
											entries[e].languages[l].definitions[projectIndex].content = currentText;
											entries[e].languages[l].definitions[projectIndex].source = sourceVal;
										}
									}
									else
									{
										entries[e].languages[l]['definitions'] = [defObj];
										input.attr('id', 'defValue_0_content');
										$('#defValue_new_source').attr('id', 'defValue_0_source');
									}
								}
								else
								{
									if (entries[e].languages[l].definitions != 'undefined')
									{
										if (projectIndex != 'new')
										{
											entries[e].languages[l].definitions.splice(projectIndex, 1);
										}
									}
								}
								setLevel('edit', 'lang');
							}
							else
							{
								if (currentText != '---')
								{
									var sourceVal = ($('#defValue_'+projectIndex+'_source').text() != '---' && $('#defValue_'+projectIndex+'_source').text() != 'Click here to add a source.') ? $('#defValue_'+projectIndex+'_source').text() : '';
									
									var defObj = {'content': currentText};
									if (sourceVal != '') defObj['source'] = sourceVal;
									
									if (typeof entries[e].definitions != 'undefined')
									{
										if (projectIndex == 'new')
										{
											projectIndex = entries[e].definitions.length;
											entries[e].definitions.push(defObj);
											input.attr('id', 'defValue_'+projectIndex+'_content');
											$('#defValue_new_source').attr('id', 'defValue_'+projectIndex+'_source');
										}
										else
										{
											entries[e].definitions[projectIndex].content = currentText;
											entries[e].definitions[projectIndex].source = sourceVal;
										}
									}
									else
									{
										entries[e]['definitions'] = [defObj];
										input.attr('id', 'defValue_0_content');
										$('#defValue_new_source').attr('id', 'defValue_0_source');
									}
								}
								else
								{
									if (entries[e].definitions != 'undefined')
									{
										if (projectIndex != 'new')
										{
											entries[e].definitions.splice(projectIndex, 1);
										}
									}
								}
								setLevel('edit', 'entry');
							}
						}
						else if ($(this).attr('id').split('_')[2] == 'source')
						{
							if ($(this).attr('id').split('_')[3] == 'langset')
							{
								if (currentText != '---')
								{
									if (typeof entries[e].languages[l].definitions != 'undefined')
									{
										if (projectIndex == 'new')
										{
											if($('#defValue_new_source').text() == '---' || $('#defValue_new_source').text() == 'Click here to add content.')
											{
												new jBox('Notice', {
													content: 'Definition will not be saved without content',
													position: {
														x: 'left',
														y: 'center',
													},
													offset: {
														x: 5
													}
												});
											}
										}
										else
										{
											if (typeof entries[e].languages[l].definitions[projectIndex] != 'undefined')
											{
												entries[e].languages[l].definitions[projectIndex].source = currentText;
											}
										}
									}
									else
									{
										new jBox('Notice', {
													content: 'Definition will not be saved without content',
													position: {
														x: 'left',
														y: 'center',
													},
													offset: {
														x: 5
													}
												});
									}
								}
								else
								{
									if (entries[e].languages[l].definitions != 'undefined')
									{
										if (projectIndex != 'new')
										{
											delete entries[e].languages[l].definitions[projectIndex].source;
										}
									}
								}
								setLevel('edit', 'lang');
							}
							else
							{
								if (currentText != '---')
								{
									
									if (typeof entries[e].definitions != 'undefined')
									{
										if (projectIndex == 'new')
										{
											if($('#defValue_new_source').text() == '---' || $('#defValue_new_source').text() == 'Click here to add content.')
											{
												new jBox('Notice', {
													content: 'Definition will not be saved without content',
													position: {
														x: 'left',
														y: 'center',
													},
													offset: {
														x: 5
													}
												});
											}
										}
										else
										{
											if (typeof entries[e].definitions[projectIndex] != 'undefined')
											{
												entries[e].definitions[projectIndex].source = currentText;
											}
										}
									}
									else
									{
										new jBox('Notice', {
													content: 'Definition will not be saved without content',
													position: {
														x: 'left',
														y: 'center',
													},
													offset: {
														x: 5
													}
												});
									}
								}
								else
								{
									if (entries[e].definitions != 'undefined')
									{
										if (projectIndex != 'new')
										{
											delete entries[e].definitions[projectIndex].source;
										}
									}
								}
								setLevel('edit', 'entry');
							}	
						}
						break;
			//CONTEXTS
					case 'ctxtValue':
						input.attr('class', 'editText arrayFormat');
						var projectIndex;
						(typeof input.attr('id').split('_')[1] != 'undefined') ? projectIndex = input.attr('id').split('_')[1] : projectIndex = 'new';
						if ($(this).attr('id').split('_')[2] == 'content')
						{
							if (currentText != '---')
							{
								var sourceVal = ($('#ctxtValue_'+projectIndex+'_source').text() != '---' && $('#ctxtValue_'+projectIndex+'_source').text() != 'Click here to add a source.') ? $('#ctxtValue_'+projectIndex+'_source').text() : '';
								
								var ctxtObj = {'content': currentText};
								if (sourceVal != '') ctxtObj['source'] = sourceVal;
								
								if (typeof entries[e].languages[l].terms[t].contexts != 'undefined')
								{
									if (projectIndex == 'new')
									{
										projectIndex = entries[e].languages[l].terms[t].contexts.length;
										entries[e].languages[l].terms[t].contexts.push(ctxtObj);
										input.attr('id', 'ctxtValue_'+projectIndex+'_content');
										$('#ctxtValue_new_source').attr('id', 'ctxtValue_'+projectIndex+'_source');
									}
									else
									{
										entries[e].languages[l].terms[t].contexts[projectIndex].content = currentText;
										entries[e].languages[l].terms[t].contexts[projectIndex].source = sourceVal;
									}
								}
								else
								{
									entries[e].languages[l].terms[t]['contexts'] = [ctxtObj];
									input.attr('id', 'ctxtValue_0_content');
									$('#ctxtValue_new_source').attr('id', 'ctxtValue_0_source');
								}
							}
							else
							{
								if (entries[e].languages[l].terms[t].contexts != 'undefined')
								{
									if (projectIndex != 'new')
									{
										entries[e].languages[l].terms[t].contexts.splice(projectIndex, 1);
									}
								}
							}
						}
						else if ($(this).attr('id').split('_')[2] == 'source')
						{
							if (currentText != '---')
							{
								
								if (typeof entries[e].languages[l].terms[t].contexts != 'undefined')
								{
									if (projectIndex == 'new')
									{
										if($('#ctxtValue_new_source').text() == '---' || $('#ctxtValue_new_source').text() == 'Click here to add content.')
										{
											new jBox('Notice', {
												content: 'Context will not be saved without content',
												position: {
													x: 'left',
													y: 'center',
												},
												offset: {
													x: 5
												}
											});
										}
									}
									else
									{
										if (typeof entries[e].languages[l].terms[t].contexts[projectIndex] != 'undefined')
										{
											entries[e].languages[l].terms[t].contexts[projectIndex].source = currentText;
										}
									}
								}
								else
								{
									new jBox('Notice', {
												content: 'Context will not be saved without content',
												position: {
													x: 'left',
													y: 'center',
												},
												offset: {
													x: 5
												}
											});
								}
							}
							else
							{
								if (entries[e].languages[l].terms[t].contexts != 'undefined')
								{
									if (projectIndex != 'new')
									{
										delete entries[e].languages[l].terms[t].contexts[projectIndex].source;
									}
								}
							}
						}
						setLevel('edit', 'tig');
					break;
				}
			}
			input.text(currentText);
			
		});
	
	//SELECTION MENUS
	   //General
	$('body').on('click', '.editList', function(){
		
		input = $('<select class="inputListValue"></select>');
		input.attr('id',$(this).attr('id'));
		var type = $(this).attr('id').split('_')[0];
		previousText = $(this).text();
		switch(type)
		{
			case 'statusValue':
				var optPref = $('<option value="preferredTerm-admn-sts">Preferred</option>');
				var optAdm = $("<option value='admittedTerm-admn-sts'>Admitted</option>");
				var optDep = $("<option value='deprecatedTerm-admn-sts'>Deprecated</option>");
				var optSup = $("<option value='supersededTerm-admn-sts'>Superseded</option>");
				
				switch($(this).text())
				{
					case 'Preferred':
						optPref.attr('selected', 'true');
						break;
					case 'Admitted':
						optAdm.attr('selected','true');
						break;
					case 'Deprecated':
						optDep.attr('selected','true');
						break;
					case 'Superseded':
						optSup.attr('selected','true');
						break;
				}
				input.append(optPref);
				input.append(optAdm);
				input.append(optDep);
				input.append(optSup);
				
				$(this).replaceWith(input);
				break;
			case 'posValue':
				var optNoun = $("<option value='noun'>Noun</option>");
				var optVerb = $("<option value='verb'>Verb</option>");
				var optAdj = $("<option value='adjective'>Adjective</option>");
				var optAdv = $("<option value='adverb'>Adverb</option>");
				var optPropN = $("<option value='properNoun'>Proper Noun</option>");
				var optOther = $("<option value='other'>Other</option>");
				var optUnspecified = $("<option value='unspecified'>Unspecified</option>");
				
				switch($(this).text())
				{
					case 'Noun':
						optNoun.attr('selected', 'true');
						break;
					case 'Verb':
						optVerb.attr('selected','true');
						break;
					case 'Adjective':
						optAdj.attr('selected','true');
						break;
					case 'Adverb':
						optAdv.attr('selected','true');
						break;
					case 'Proper Noun':
						optPropN.attr('selected','true');
						break;
					case 'Other':
						optOther.attr('selected','true');
						break;
					case 'Unspecified':
						optUnspecified.attr('selected','true');
				}
				input.append(optNoun);
				input.append(optVerb);
				input.append(optAdj);
				input.append(optAdv);
				input.append(optPropN);
				input.append(optOther);
				input.append(optUnspecified);
				
				$(this).replaceWith(input);
				break;
			case 'genderValue':
				var optMasc = $("<option value='masculine'>Masculine</option>");
				var optFem = $("<option value='feminine'>Feminine</option>");
				var optNeut = $("<option value='neuter'>Neuter</option>");
				var optOther = $("<option value='other'>Other</option>");
				var optNone = $("<option value='none'>None</option>");
				
				switch($(this).text())
				{
					case 'Masculine':
						optMasc.attr('selected', 'true');
						break;
					case 'Feminine':
						optFem.attr('selected','true');
						break;
					case 'Neuter':
						optNeut.attr('selected','true');
						break;
					case 'Other':
						optOther.attr('selected','true');
						break;
					case 'None':
						optNone.attr('selected','true');
						break;
				}
				input.append(optMasc);
				input.append(optFem);
				input.append(optNeut);
				input.append(optOther);
				input.append(optNone);
				
				$(this).replaceWith(input);
				break;
		}
	
		input.focus();
	});
	$('body').on('focusout', '.inputListValue', function(){
			
			var input = $('<span class="editList"></span>');
			input.attr('id',$(this).attr('id'));
			var currentText;
			
			switch($(this).val())
			{
				case "preferredTerm-admn-sts":
					currentText = "Preferred";
					break;
				case "admittedTerm-admn-sts":
					currentText = "Admitted";
					break;
				case "deprecatedTerm-admn-sts":
					currentText = "Deprecated";
					break;
				case "supersededTerm-admn-sts":
					currentText = "Superseded";
					break;
				case 'noun':
					currentText = "Noun";
					break;
				case 'verb':
					currentText = "Verb";
					break;
				case 'adjective':
					currentText = "Adjective";
					break;
				case 'adverb':
					currentText = "Adverb";
					break;
				case 'properNoun':
					currentText = "Proper Noun";
					break;
				case 'unspecified':
					currentText = "Unspecified";
					break;
				case 'masculine':
					currentText = "Masculine";
					break;
				case 'feminine':
					currentText = "Feminine";
					break;
				case 'neuter':
					currentText = "Neuter";
					break;
				case 'other':
					currentText = "Other";
					break;
				case 'none':
					currentText = "None";
			}
			
			$(this).replaceWith( input );
			input.text(currentText);
			
			if (currentText != previousText)
			{
				setChanged(true);
			
				navObject = getNavObject()
				e = navObject.e;
				l = navObject.l;
				t = navObject.t;
			
				//update entries
				var type = input.attr('id').split('_')[0];
				switch (type)
				{
					case 'statusValue':
						entries[e].languages[l].terms[t].status = $(this).val();
						break;
					case 'posValue':
						entries[e].languages[l].terms[t].pos = $(this).val();
						if ($(this).val() != 'unspecified')
						{
							entries[e].languages[l].terms[t].pos = $(this).val();
						}
						else
						{
							if (typeof entries[e].languages[l].terms[t].pos != 'undefined')
							{
								delete entries[e].languages[l].terms[t]['pos'];
							}
						}
						break;
					case 'genderValue':
						if ($(this).val() != 'none')
						{
							entries[e].languages[l].terms[t].gender = $(this).val();
						}
						else
						{
							if (typeof entries[e].languages[l].terms[t].gender != 'undefined')
							{
								delete entries[e].languages[l].terms[t]['gender'];
							}
						}
						break;
				}
				setLevel('edit', 'tig');
			}
			
	});
	//references
	$('body').on('click', '.editReference, .refContent', function(){
		var type = $(this).attr('id').split('_')[0];
		var level = $(this).attr('id').split('_')[3];
		var navObject = getNavObject();

		if (typeof targetSelectModal.destroy != 'undefined') targetSelectModal.destroy();
	   
		targetSelectModal = new jBox('Modal',{
			closeOnClick: 'body',
			title: 'Select a reference:',
			position: {
				x: 'left',
				y: 'top'
			},
			offset: {
				x: 10,
				y: 10
			},
			ajax: {
				url: '{{path("search_termbase_mini")}}',
				method: 'POST',
				data: {
					'e':navObject.e,
					'l':navObject.l,
					't':navObject.t,
					'targetElementId':$(this).attr('id')
				},
				reload: true
			}
		});
		targetSelectModal.open();
	});
	//external references
	$('body').on('click', '.editExtRef, .extRefContent', function(){
		var type = $(this).attr('id').split('_')[0];
		var level = $(this).attr('id').split('_')[3];
		var navObject = getNavObject();

		if (typeof extRefSelectModal.destroy != 'undefined') extRefSelectModal.destroy();
	   
		extRefSelectModal = new jBox('Modal',{
			closeOnClick: 'body',
			title: 'Edit external reference:',
			position: {
				x: 'left',
				y: 'top'
			},
			offset: {
				x: 10,
				y: 10
			},
			ajax: {
				url: '{{path("entry_new_ext_ref")}}',
				method: 'POST',
				data: {
					'e':navObject.e,
					'l':navObject.l,
					't':navObject.t,
					'extRefElementId':$(this).attr('id')
				},
				reload: true
			}
		});
		extRefSelectModal.open();
	});
	//images
	$('body').on('click', '.editImgRef, .imgContent', function(){
		var type = $(this).attr('id').split('_')[0];
		var level = $(this).attr('id').split('_')[3];
		var navObject = getNavObject();

		if (typeof imgSelectModal.destroy != 'undefined') imgSelectModal.destroy();
	   
		imgSelectModal = new jBox('Modal',{
			closeOnClick: 'body',
			title: 'Edit Image Reference:',
			position: {
				x: 'left',
				y: 'top'
			},
			offset: {
				x: 10,
				y: 10
			},
			ajax: {
				url: '{{path("entry_new_image")}}',
				method: 'POST',
				data: {
					'e':navObject.e,
					'l':navObject.l,
					't':navObject.t,
					'imgElementId':$(this).attr('id')
				},
				reload: true
			}
		});
		imgSelectModal.open();
	});
	//GEO
	$('body').on('click', '.editGeo', function(){
		var type = $(this).attr('id').split('_')[0];
		var level = $(this).attr('id').split('_')[3];
		var navObject = getNavObject();

		if (typeof geoSelectModal.destroy != 'undefined') geoSelectModal.destroy();
	   
		geoSelectModal = new jBox('Modal',{
			closeOnClick: 'body',
			title: 'Edit Image Reference:',
			position: {
				x: 'left',
				y: 'top'
			},
			offset: {
				x: 10,
				y: 10
			},
			ajax: {
				url: '{{path("entry_term_geo")}}',
				method: 'POST',
				data: {
					'e':navObject.e,
					'l':navObject.l,
					't':navObject.t,
					'geoElementId':$(this).attr('id')
				},
				reload: true
			}
		});
		geoSelectModal.open();
	});
	
</script>