{% block body %}
{{ form_start(form.createView(), {'action': path('save_termbase'), 'method': 'POST'}) }}
	<div>
	Termbase Name: <input type='text' placeholder='Termbase Name' name='termbase_name' required />.tbx
	</div>
	<div>
        Working Language: <select id='languageCode' name='languageCode'>
            {% for key, lang in languages %}
                <option value="{{key}}" {% if key == "en" %}selected{% endif %}>{{lang}}</option>
            {% endfor %}
        </select>
	</div>
	<div>
	<input type='submit' value='Save'/>
	</div>
	{{ form_end(form.createView()) }}
{% endblock %}