{% extends 'base.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block body %}
	<div>Welcome to alpha BaseTerm! What would you like to do?</div>
	
	{% if app.user %}
		<div>
			<a href='termbase'>View Termbases</a>
		</div>
	{% else %}
		<p>Login to view existing termbases.  Register a new account if you don't have one.</p>
	{% endif %}
{% endblock %}