{% extends 'base.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block body %}
	<div>{%- if not app.user -%}Welcome to alpha BaseTerm!{%- endif -%} What would you like to do?</div>
	
	{% if app.user %}
		<div>
			<a href='{{path('termbase_list')}}'>View Termbases</a>
		</div>
	{% else %}
		<p>Login to view existing termbases.  Register a new account if you don't have one.</p>
	{% endif %}
{% endblock %}