{% extends 'base.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block body %}
	<div>Welcome to alpha BaseTerm! Please use the Guest account to log in!</div>
	{{ form_start(form.createView(), {'action': path('user_check'), 'method': 'POST'}) }}
		<label for='username'>User: </label>
		<input type='text' id='username' name='username' value='Guest'/>
		<input type='submit' value='Log In' />
	{{ form_end(form.createView()) }}
{% endblock %}