{#/*
 *  This file is part of BaseTerm.
 *  
 *  BaseTerm is an open-source and free to use terminology management system built with the primary goal of natively supporting the most popular TBX dialect for exchange, TBX-Basic
 *  
 *  Copyright © (2016-2017) BYU TRG & LTAC Global & CRITI
 *  
 *  See the file LICENSE file that accompanied this source code for the full license
 *  information
 */#}
{% extends 'base.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block body %}
	<div>{%- if not app.user -%}Welcome to alpha BaseTerm!{%- endif -%} What would you like to do?</div>
	
	{% if app.user %}
		{% if app.user.fullusername == "" %}
			<div class='noFullNameMessage' onclick="window.location.assign('{{path('fos_user_profile_edit')}}')">
				Please edit your profile to include your full name before you proceed. Click here.
			</div>	
		{% else %}
		<div>
			<a href='{{path('termbase_list')}}'>View Termbases</a>
		</div>
		<div>
			<a href='{{path('search_termbase_all')}}'>Search all Termbases</a>
		</div>
		{% endif %}
	{% else %}
		<p>Login to view existing termbases.  Register a new account if you don't have one.</p>
	{% endif %}
	
{% endblock %}