@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
	margin: 0px;
	min-width: 848px;
	background-color: #fbfbfb;
	padding-bottom: 100px;
}

.mainContainer {
	margin: 0px 20px;
}

/* HEADER */
.mainHeader {
	box-shadow: 0px 2px 2px #888888;
	margin: 0px 0px 25px 0px;
	height: 40px;
	background: -webkit-linear-gradient(#4f4f4f, #0f0f0f); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4f4f4f, #0f0f0f); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#4f4f4f, #0f0f0f); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#4f4f4f, #0f0f0f); /* Standard syntax */
}

.homeContainer {
	float: left;
	top: 50%;
	height: 100%;
	width: 10%;
	margin: 0px;
}

.home {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: #fff;
	text-align: center;
	line-height: 225%;
	text-decoration: none;
	background: -webkit-linear-gradient(#7B6F76, #3B2F36); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#7B6F76, #3B2F36); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#7B6F76, #3B2F36); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#7B6F76, #3B2F36); /* Standard syntax */
}

.siteNameContainer {
	display: inline-block;
	height: 100%;
	width: 70%;
}

.siteName {
	display: inline-table;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	line-height: 175%;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
}

.loginOptsContainer {
	float: right;
	height: 100%;
	width: 20%;
	margin: 0px;
}

.loginOptsContainer a {
	float: right;
	display: inline-block;
	height: 100%;
	width: 50%;
	color: #fff;
	text-align: center;
	line-height: 225%;
	text-decoration: none;
}

.login {
	background: -webkit-linear-gradient(#79B4CC, #39748C); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#79B4CC, #39748C); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#79B4CC, #39748C); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#79B4CC, #39748C); /* Standard syntax */
}

.logout {
	background: -webkit-linear-gradient(#F3524D, #53120D); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F3524D, #53120D); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F3524D, #53120D); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#F3524D, #53120D); /* Standard syntax */
}

.register {
	border-left: 2% solid #888888;

	background: -webkit-linear-gradient(#5CBC56, #1C7C16); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#5CBC56, #1C7C16); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#5CBC56, #1C7C16); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5CBC56, #1C7C16); /* Standard syntax */
}

.manageUsers {

}
/*END HEADER*/

/*USER WELCOME */
.userWelcome {
	padding-left: 20px;
}


/*LOGIN PAGE*/
.loginForm {
	position: relative;
	display: block;
	height: 200px;
	width: 240px;
	top: 50px;
	right: 50px;
	margin: 0 auto;
	padding: 10px;
	background-color: #dedbde;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.textvalue {
	padding: 5px;
	border-radius: 5px;
	display: block;
	width: 90%;
	margin: 5px auto;
}


.submitLogin {
	position: relative;
	width: 80px;
	height: 40px;
	left: 150px;
	
	margin-top: 10px;
	color: white;
	font-family: serif;
	border-radius: 5px;
	border: 0;
	
	background: -webkit-linear-gradient(#5CBC56, #1C7C16); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#5CBC56, #1C7C16); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#5CBC56, #1C7C16); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5CBC56, #1C7C16); /* Standard syntax */
}
/*END LOGIN PAGE*/

/*REGISTER PAGE*/
.fos_user_registration_register {
	position: absolute;
	display: block;
	height: 210px;
	width: 289px;
	top: 100px;
	right: 30%;
	left: 30%;
	padding: 10px;
	background-color: #dedbde;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.fos_user_registration_register #fos_user_registration_form {
	width: 100%;
	margin: 0;
}

.fos_user_registration_register #fos_user_registration_form div {
	witdh: 50%;
	margin: 4px 0;
	white-space: nowrap;
}

.fos_user_registration_register #fos_user_registration_form div ul { /*error message*/
	display: block;
	position: absolute;
	top: 170px;
	left: -10px;
}

.fos_user_registration_register #fos_user_registration_form div label {
	float: left;
	clear: both;
	padding: 5px 0;
	display: block;
	width: 40%;
	margin: 5px 0;
}

.fos_user_registration_register #fos_user_registration_form div input{
	float: right;
	clear: right;
	padding: 5px;
	border-radius: 5px;
	display: block;
	width: 50%;
	margin: 5px 0;
}

.fos_user_registration_register div input[type='submit'] {
	position: absolute;
	width: 80px;
	height: 40px;
	right: 5%;
	bottom: 5%;
	color: white;
	font-family: serif;
	border-radius: 5px;
	border: 0;
	
	background: -webkit-linear-gradient(#5CBC56, #1C7C16); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#5CBC56, #1C7C16); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#5CBC56, #1C7C16); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5CBC56, #1C7C16); /* Standard syntax */
}
/*END REGISTER PAGE*/

/*IMPORT TBX*/
.chooseFile {
	float: left;
}

.uploadFile {
	float: right;
}
/*END IMPORT TBX*/


/*SEARCH PAGE*/
.moreInformation {
	display: inline-block;
}

.navResultsContainer {
	position: relative;
	float: right;
	top: 15px;
}
/*END SEARCH PAGE*/

.expandButton {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.deleteEntryButton {
	position: absolute;
	left: 5px;
	bottom: 5px;
}

.deleteButtonDiv {
	position: absolute;
	width: 50px;
	left: 5px;
	bottom: 25px;
}

.deleteEntryButtonL {
	position: fixed;
}

.shrinkButtonDiv {
	position: absolute;
	width: 50px;
	right: 50px;
	bottom: 25px;
}
.shrinkButton {
	position: fixed;
}

.noQueriesError {
	color: red;
}

.arrayFormat {
	display: block;
	margin-left: 30px;
}

.entryEdit {
	width: 100%;
	height: 50px;
	
}

.nextFormButton{
	margin-top: 20px;
	float: right;
}

/******************* TIP TOGGLE SWITCH ******************************/

.onoffswitch {
    position: absolute; width: 64px;
	right: 10px;
	top: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-div-label {
	position: absolute;
	right: 80px;
	top: 62px;
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34C280; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 42px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}