<div>
	<select id='quickLanguageList'>
        {% for key, lang in languages %}
            <option value="{{key}}">{{lang}}</option>
        {% endfor %}
	</select>
	<button type='button' onclick='addQuickLang()'>Add Selected Language</button>
</div>

<script type='text/javascript'>

function addQuickLang()
{
	entryLangList.push($('#quickLanguageList').val());
	loadLanguageList(true,$('#quickLanguageList').val());
	quickLangSelectModal.close();
}

</script>
